@font-face { font-family: Disney; src: url('../fonts/waltograph.regular.ttf'); } 
#title{
    font-size: 200px;
    font-family: Disney;
}
img {
    height: 80px;
    width: auto;
  }

@media screen and (max-width: 768px) {
    #title {
      font-size: 200%;
    }
}